ion-view(view-title='Home')
    ion-nav-buttons(side='primary')
        a.button.button-icon.icon.ion-settings(href='#/settings', -='')
    ion-content.state-home(padding='30')
        br
        img(src='img/icon.png')
        h1 Welcome to #{name}
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, commodi, explicabo nesciunt, iste vero ratione autem nulla optio architecto consequatur odit. Ipsam consectetur blanditiis, provident illum quam, ex vero sequi.
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias provident eum optio, labore, odit id aut voluptas temporibus, molestias accusamus nobis illo odio mollitia itaque veritatis sequi! Nisi, praesentium illum?