ion-view(view-title='Settings')
    ion-content.state-settings(padding='30')
        aside.card
            ion-list
                ion-item Setting 1
                ion-item Setting 2
                ion-item Setting 3
                ion-item Setting 4
                ion-item Setting 5
                ion-item Setting 6
        article
            h1 Settings Page
            p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ullam praesentium modi dolorum, maxime in magnam delectus error corporis dolore fugiat quam, adipisci officiis natus temporibus inventore! Iusto, totam culpa.