  /////////////////
 // Semantic.gs //
/////////////////
@import '../variables';
$column-width: $grid-column-width;
$gutter-width: $grid-gutter;
$columns:      $grid-columns;
$total-width:  $grid-width;
@import '../function/gridsystem-width';

  ////////////
 // MIXINS //
////////////
@mixin row($columns:$columns) {
    @include clearfix();
    display: block;
    width: $total-width * (($gutter-width + gridsystem-width($columns)) / gridsystem-width($columns));
    margin: 0 $total-width * ((($gutter-width * .5) / gridsystem-width($columns)) * -1);
}

@mixin column($x, $columns:$columns) {
    display: inline;
    float: left;
    width: $total-width * (((($gutter-width + $column-width) * $x) - $gutter-width) / gridsystem-width($columns));
    margin: 0 $total-width * (($gutter-width * .5) / gridsystem-width($columns));
}

@mixin push($offset:1) {
    margin-left: $total-width * ((($gutter-width + $column-width) * $offset) / gridsystem-width($columns)) + $total-width * (($gutter-width * .5) / gridsystem-width($columns));
}

@mixin pull($offset:1) {
    margin-right: $total-width * ((($gutter-width + $column-width) * $offset) / gridsystem-width($columns)) + $total-width * (($gutter-width * .5) / gridsystem-width($columns));
}
