$light: #ffffff !default;
$stable: #f8f8f8 !default;
$positive: #387ef5 !default;
$calm: #11c1f3 !default;
$balanced: #0C5510 !default;
$energized: #01B600 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444444 !default;
$ionicons-font-path: '../fonts' !default;
$theme-primary: $positive;
$theme-secondary: $calm;
$screen-xl: 1500px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;